.hero {
    display: flex;
    flex-wrap: wrap;
    gap: var(--main-gap);

    .hero__content {
        flex: 3 0 220px;
        display: grid;
        grid-template-rows: auto 1fr auto;
        justify-items: start;
        
        .hero__content-greeting {
            display: inline-block;
            padding-block: calc(var(--main-gap) / 3);
            padding-inline: calc(var(--main-gap) * 2);
            background-color: #333b;
            text-transform: uppercase;
            color: var(--white);
            line-height: 1;
        }

        .hero__content-text {
            align-self: center;
        }
        
        .hero__content-title {
            color: var(--main-yellow-400);
        }
    }

    .hero__photo {
        flex: 1 0 220px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-inline: auto;
        background-color: #3331;
        
        img {
            width: 100%;
            height: auto;

            background-color: #3336;
            border-radius: calc(var(--main-gap) / 3);
            overflow: hidden;
        }
    }
}