@use "setup";
@use "common/dialog";
@use "common/cv-dialog";
@use "common/form-dialog";
@use "common/button";
@use "common/separator";
@use "common/back-to-top";
@use "header";
@use "index";
@use "open";
@use "hero";
@use "info";
@use "form";
@use "contacts";
// @use "common/lang-menu";
// @use "common/back-to-top";
@use "footer";
