:root {
    // Base colors

    // Main Primary color
    --main-red-0: #bb1919;
    --main-red-1: #f46565;
    --main-red-2: #db3939;
    --main-red-3: #990505;
    --main-red-4: #700000;

    // Main Secondary color (1)
    --main-yellow-0: #bb6219;
    --main-yellow-1: #f4a665;
    --main-yellow-2: #db8239;
    --main-yellow-3: #994805;
    --main-yellow-4: #703300;

    // Main Secondary color (2)
    --main-blue-0: #0f7070;
    --main-blue-1: #3d9393;
    --main-blue-2: #228383;
    --main-blue-3: #035c5c;
    --main-blue-4: #004343;

    // Main Complement color
    --main-green-0: #149614;
    --main-green-1: #51c351;
    --main-green-2: #2eaf2e;
    --main-green-3: #047b04;
    --main-green-4: #005a00;

    // Colors
    --main-red: var(--main-red-0);
    --main-red-tr: #bb191940;
    --btn-grey: #618eab;
    --green: #06ba39;
    --green-tr: #06ba3940;
    --blue: #0080ff;
    --yellow: #f6d927;
    --yellow-tr: #f6d92740;
    --white: #ffffff;
    --dark-bgc: #1d1d1d;
    --dark-overlay-color: #1d1d1db0;
    --main-text-color: #3b3b3b;
    --light-text-color: #f2f2f2;
    --light-text-color-tr: #f2f2f240;
    --light-text-color-semitr: #f2f2f288;
    --color-tr: #00000000;
    --main-shadow: 0 0 10px -4px var(--main-blue-1);
    --red-gradient: linear-gradient(90deg, var(--main-red) 0%, #7d1111 100%);
    --red-gradient-r: linear-gradient(90deg, #7d1111 0%, var(--main-red) 70%);
    --yellow-gradient: linear-gradient(90deg, #fff0a9 0%, #ffe052 100%);
    --yellow-gradient1: linear-gradient(90deg, #fff0a9 0%, var(--yellow) 100%);

    // Fonts & typo
    --text-shadow: 0 0 3px var(--dark-bgc);
    --text-shadow-light: 0 0 3px var(--light-text-color);
    --header-font-family: Oswald, sans-serif;
    --common-font-family: Rubik, sans-serif;
    --footer-font-family: Rubik, sans-serif;

    // Other
    --common-font-size: 17px;
    --header-top-height: 58px;
    --main-gap: 1rem;

    // SVG
    --square-bg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 65 65' %3E%3Crect x='0' y='0' width='65' height='65' fill='%2300000000'/%3E%3Cpath d='M.5.5v12h12V.5H.5zm13 13v12h12v-12h-12zm-13 13v12h12v-12H.5zm26 13v12h12v-12h-12zm13 13v12h12v-12h-12z' fill='%23f6d92710'/%3E%3Cpath d='M26.5.5v12h12V.5h-12zm0 13v12h12v-12h-12zm13 13v12h12v-12h-12zm-39 13v12h12v-12H.5zm0 13v12h12v-12H.5z' fill='%2300000000'/%3E%3Cpath d='M13.5.5v12h12V.5h-12zm39 13v12h12v-12h-12zm-39 13v12h12v-12h-12zm39 0v12h12v-12h-12zm-26 26v12h12v-12h-12z' fill='%23f6d92740'/%3E%3Cpath d='M52.5.5v12h12V.5h-12zm-13 13v12h12v-12h-12zm0 26v12h12v-12h-12zm13 0v12h12v-12h-12zm-39 13v12h12v-12h-12z' fill='%23f6d92720'/%3E%3C/svg%3E");
    --square-bg-size: 260px;
}
