.contacts {

    .contacts__flex {
        display: flex;
        flex-direction: column;
        gap: var(--main-gap);
        gap: 1vw;
        
        > * {
            flex: 1;
            padding: var(--main-gap);
            background-color: #3332;
            border-radius: calc(var(--main-gap) / 3);
        }

        .contacts__map {
            display: grid;
            place-content: center;
            aspect-ratio: 5/3;
            padding: 0;
            overflow: hidden;
            background-color: var(--main-red-100);
        }
    }
}