:root {
    // Fonts & typo
    --text-shadow: 0 0 3px var(--dark-bgc);
    --text-shadow-light: 0 0 3px var(--light-text-color);
    --header-font-family: Oswald, sans-serif;
    --common-font-family: Rubik, sans-serif;
    --footer-font-family: Rubik, sans-serif;
    --common-font-size: 17px;
}