:root {
   // Gradients
   --y-color: color-mix(in srgb, var(--main-yellow-100), transparent 96%);
   --b-color: color-mix(in srgb, var(--main-blue-100), transparent 96%);
   --y1-color: color-mix(in srgb, var(--main-yellow-100), transparent 82%);
   --b1-color: color-mix(in srgb, var(--main-blue-100), transparent 82%);
   --body-bg-img:
       radial-gradient(circle at 77% 66%, var(--y-color) 0%, var(--y-color) 9%,transparent 9%, transparent 100%),
       radial-gradient(circle at 6% 56%, var(--b-color) 0%, var(--b-color) 20%,transparent 20%, transparent 100%),
       radial-gradient(circle at 48% 45%, hsla(39,0%,85%,0.05) 0%, hsla(39,0%,85%,0.05) 15%,transparent 15%, transparent 100%),
       radial-gradient(circle at 89% 6%, hsla(39,0%,85%,0.05) 0%, hsla(39,0%,85%,0.05) 5%,transparent 5%, transparent 100%),
       radial-gradient(circle at 71% 38%, hsla(39,0%,85%,0.05) 0%, hsla(39,0%,85%,0.05) 14%,transparent 14%, transparent 100%),
       radial-gradient(circle at 84% 78%, hsla(39,0%,85%,0.05) 0%, hsla(39,0%,85%,0.05) 11%,transparent 11%, transparent 100%),
       radial-gradient(circle at 92% 72%, var(--y-color) 0%, var(--y-color) 42%,transparent 42%, transparent 100%),
       radial-gradient(circle at 73% 95%, hsla(39,0%,85%,0.05) 0%, hsla(39,0%,85%,0.05) 48%,transparent 48%, transparent 100%),
       radial-gradient(circle at 29% 29%, var(--b-color) 0%, var(--b-color) 24%,transparent 24%, transparent 100%),
       linear-gradient(90deg, hsl(147,0%,99%),hsl(0, 0%, 97%));

    --day-bg-img: linear-gradient( 95.2deg, rgba(173,252,234,.25) 26.8%, rgba(192,229,246,.25) 64% );
    --day-bg-img: linear-gradient( 95.2deg, var(--b1-color) 20%, var(--y1-color) 80% );
    --day-bg-img-180: linear-gradient( 140deg, var(--b1-color) 20%, var(--y1-color) 80% );

    --red-gradient: linear-gradient(90deg, var(--main-red) 0%, #7d1111 100%);
    --red-gradient-r: linear-gradient(90deg, #7d1111 0%, var(--main-red) 70%);
    --yellow-gradient: linear-gradient(90deg, #fff0a9 0%, #ffe052 100%);
    --yellow-gradient1: linear-gradient(90deg, #fff0a9 0%, var(--yellow) 100%);
}