.dialog {
    max-width: min(calc(100vw - var(--main-gap) * 2), 65ch);
    max-height: calc(100vh - var(--main-gap) * 2);
    padding: 0;
    border: none;
    border-radius: var(--border-radius);

    &::backdrop {
        background: var(--main-blue-100);
        opacity: .7;
    }
}

.dialog-btn__close {
    position: absolute;
    display: block;
    margin-inline-start: auto;
    top: var(--main-gap);
    right: var(--main-gap);
    cursor: pointer;
    color: var(--main-blue-400);
    background: transparent;
    background: color-mix(in srgb, var(--main-blue-100), transparent 60%);
    font-size: 1.2rem;
    line-height: 1;
    padding: calc(var(--main-gap) / 2);
    border: none;
    border-radius: var(--border-radius);
    transition: color 300ms;
    
    &:is(:hover, :focus-visible) {
        color: var(--main-red-400);
    }
}