.separator {
    width: 0;
    height: 0;
    // box-shadow: var(--main-shadow);
    margin-block: calc(var(--section-padding) / 2);
    border-bottom: 3px dotted var(--btn-grey);

    &.separator--visible {
        width: 100%;
        transition: width 0.5s ease-in-out 0.3s;
    }
}
