<section class="contacts index__bottom-contacts">
    <div class="contacts__flex">
        <div class="contacts__eadr">
            Tel: <a href="tel:{{ site.Params.Phone }}">{{ site.Params.Phone }}</a><br>
            EMail: <a href="mailto:{{ site.Params.Email }}">{{ site.Params.Email }}</a>
            {{ partial "common/form-modal" (dict "source" "cform.md") }}
        </div>
        <div class="contacts__postal">
            {{- range $i, $adr_str := site.Params.Address }}
                {{ $adr_str | markdownify }}<br>
            {{- end }}
            {{ with site.Params.MapDirections }}
            <a href="{{ . }}" target="_blank" rel="noopener noreferrer">Anfahrt mit googlemaps</a>
            {{ end }}
        </div>
        <div class="contacts__map">
            <img src="" alt="Karte, wie Sie uns finden.">            
            <a  class="contacts__map-attribution"
                href="https://www.openstreetmap.org/copyright"
                target="_blank" rel="noopener noreferrer">
                © OpenStreetMap
            </a>
        </div>
    </div>
</section>
<a href="http://" target="_blank" rel="noopener noreferrer"></a>